################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzurePipeline.Web/bin
/AzurePipeline.Web/obj/Debug
/packages
